absl-py
astunparse
cloudpickle
colorama
cryptography
decorator
dm-tree
Flask
flatbuffers
Jinja2
joblib
keras
keras-nightly==2.7.0.dev2021092007
Keras-Preprocessing
libclang
Markdown
MarkupSafe
nltk
numpy
oauthlib
opt-einsum
Pillow
protobuf
pyasn1
pyasn1-modules
pycparser
python-dotenv
regex
requests
requests-oauthlib
rsa
six
tb-nightly==2.7.0a20210919
tensorboard
tensorflow
tensorflow-gpu
termcolor
tflearn
tqdm
